$app-white        =  #FFF
$app-green        =  #00c489
$app-blue         =  #002244
$app-grey--dark   =  #373f49
$app-grey         =  #818b97
$app-grey-light   =  #C5CEDA
$app-text         = $app-grey--dark

$theme-green      = #1da2bd
$theme-dark       = #02303A



/* Styles */
@import "./home";
@import "./global";
@import "./sidebar";
@import "./content";
@import "./breadcrumb";
@import "./list";
