<br> {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "subtitle" }} {{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}
<ul class="tab">
    <li class="tab-item active">
        <a href="#">
            Preview
        </a>
    </li>
    <li class="tab-item">
        <a href="#">
            Markdown
        </a>
    </li>
    <li class="tab-item tab-action">
        <div class="input-group input-inline text-gray">
            <p><i class="fas fa-calendar-alt"></i> {{ $.Scratch.Get "subtitle" }}</p>
        </div>
    </li>
</ul>
<br>
<h3>{{ .Title }}</h3>
<br>
<div>
    {{ range .Params.tags }}
    <span class="chip">
    <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
  </span> {{ end }}
    <br>
    <br>
    <br>
</div>
<br>
<div class="text-justify">{{ .Content }}</div>